[Desktop Entry]
Encoding=UTF-8
Name=Lambocoin
Comment=Lambocoin P2P Cryptocurrency
Comment[fr]=Lambocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Lambocoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Lambocoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/Lambocoin128.png
MimeType=x-scheme-handler/Lambocoin;
Categories=Office;
